
#first {
  background-image: url(../../assets/images/bgimg.svg);
  background-color: #0c111f;
  width: 100%;
  height: 1120px;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 112px 0 135px 0;
    height: 1120px;

    .smart-choice {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      .number-one {
        width: 351px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.151);
        backdrop-filter: blur(15px);

        p {
          font-family: Inter-medium;
          font-size: 14px;
          text-align: center;
          color: white;
          text-align: center;
          padding-top: 55px;
        }
      }

      h2 {
        color: white;
        font-family: Inter-bold;
        font-size: 72px;
        span {
          // background: -webkit-linear-gradient(#00796d,#38C682);
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
          color: #24aa7a;
        }
      }
      p {
        font-family: Inter-medium;
        font-size: 20px;
        color: #b6b8bc;
        padding: 24px 0 56px 0;
      }
      .button {
        button {
          width: 185px;
          height: 68px;
          background: linear-gradient(#00796d, #38c682);
          border-radius: 100px;
          background-repeat: no-repeat;
          border: none;
          gap: 10px;
          p {
            font-family: Inter-medium;
            font-size: 18px;
            color: white;
          }
        }
      }
    }
    .benefit-improving {
      background-image: url(../../assets/images/shape.svg);
      background-repeat: no-repeat;
      height: 334px;
      width: 100%;
      position: relative;
      .benefit-improving::before{
        background-image: url(../../assets/icons/dumaloq.svg);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        
      }
      h2{
        font-family: Inter-semibold;
        font-size: 32px;
        color: white;
        margin: 20px 0 60px 350px;
    }
      .expending-wrap {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        p {
          font-family: Inter-medium;
          font-size: 24px;
          color: white;
        }
      }
    }
  }
}
